<a href="https://colab.research.google.com/github/yeoonju/dataanalysis_book/blob/main/PART_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 외부파일 읽어오기 

판다스는 다양한 형태의 외부 파일을 읽어와서 데이터프레임으로 변환하는 함수를 제공한다. 
ex) .csv .json .xlsx

CSV 파일 

-> 데이터프레임 : pandas.read_csv("파일 경로(이름)")

In [ ]:
# CSV 파일 읽기 


# 라이브러리 불러오기 
import pandas as pd 

# 파일 경로(파이썬 파일과 같은 폴더를 찾고, 변수 file_path에 저장
file_path = '/content/drive/My Drive/Colab_Data/pandasdatazip/part2/read_csv_sample.csv'

# read_csv() 함수로 데이터프레임 변환, 변수 df1에 저장
df1 = pd.read_csv(file_path)
print(df1)
print('\n')

# read_csv() 함수로 데이터프레임 변환, 변수 df2에 저장, header=None 옵션
df2 = pd.read_csv(file_path, header=None)
print(df2)
print('\n')

# read_csv() 함수로 데이터프레임 변환, 변수 df3에 저장, index_col = None 옵션
df3 = pd.read_csv(file_path, index_col=None)
print(df3)
print('\n')

# read_csv() 함수로 데이터프레임 변환, 변수 df4에 저장, index_col = 'c0' 옵션
df4 = pd.read_csv(file_path, index_col='c0')
print(df4)

   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    0   1   2   3
0  c0  c1  c2  c3
1   0   1   4   7
2   1   2   5   8
3   2   3   6   9


   c0  c1  c2  c3
0   0   1   4   7
1   1   2   5   8
2   2   3   6   9


    c1  c2  c3
c0
0    1   4   7
1    2   5   8
2    3   6   9

Excel 파일

-> 데이터프레임 : pandas.read_excel("파일 경로(이름)")

In [ ]:
# Excel 파일 읽기


import pandas as pd

# read_excel() 함수로 데이터프레임 변환
df1 = pd.read_excel('/content/drive/My Drive/Colab_Data/pandasdatazip/part2/남북한발전전력량.xlsx')
df2 = pd.read_excel('/content/drive/My Drive/Colab_Data/pandasdatazip/part2/남북한발전전력량.xlsx', header=None)

# 데이터프레임 출력
print(df1)
print('\n')
print(df2)

  전력량 (억㎾h) 발전 전력별  1990  1991  1992  1993  ...  2011  2012  2013  2014  2015  2016
0        남한     합계  1077  1186  1310  1444  ...  4969  5096  5171  5220  5281  5404
1       NaN     수력    64    51    49    60  ...    78    77    84    78    58    66
2       NaN     화력   484   573   696   803  ...  3343  3430  3581  3427  3402  3523
3       NaN    원자력   529   563   565   581  ...  1547  1503  1388  1564  1648  1620
4       NaN    신재생     -     -     -     -  ...     -    86   118   151   173   195
5        북한     합계   277   263   247   221  ...   211   215   221   216   190   239
6       NaN     수력   156   150   142   133  ...   132   135   139   130   100   128
7       NaN     화력   121   113   105    88  ...    79    80    82    86    90   111
8       NaN    원자력     -     -     -     -  ...     -     -     -     -     -     -

[9 rows x 29 columns]


          0       1     2     3     4   ...    24    25    26    27    28
0  전력량 (억㎾h)  발전 전력별  1990  1991  1992  ...  2012  2013  2014  2015  2016
1         남한      합계  1077  1186  1310  ...  5096  5171  5220  5281  5404
2        NaN      수력    64    51    49  ...    77    84    78    58    66
3        NaN      화력   484   573   696  ...  3430  3581  3427  3402  3523
4        NaN     원자력   529   563   565  ...  1503  1388  1564  1648  1620
5        NaN     신재생     -     -     -  ...    86   118   151   173   195
6         북한      합계   277   263   247  ...   215   221   216   190   239
7        NaN      수력   156   150   142  ...   135   139   130   100   128
8        NaN      화력   121   113   105  ...    80    82    86    90   111
9        NaN     원자력     -     -     -  ...     -     -     -     -     -

[10 rows x 29 columns]

JSON 파일

-> 데이터프레임 : pandas.read_json ("파일경로(이름)")

In [ ]:
# json 파일 읽기 


import pandas as pd

# read_json() 함수로 데이터프레임 변환
df = pd.read_json('/content/drive/My Drive/Colab_Data/pandasdatazip/part2/read_json_sample.json')
print(df)
print('\n')
print(df.index)

           name  year        developer opensource
pandas           2008    Wes Mckinneye       True
NumPy            2006  Travis Oliphant       True
matplotlib       2003   John D. Hunter       True


Index(['pandas', 'NumPy', 'matplotlib'], dtype='object')

## Web에서 가져오기

HTML 웹 페이지에서 표 속성 가져오기

In [ ]:
# 웹에서 표 정보 읽기 

import pandas as pd 

# HTML 파일 경로 or 웹 페이지 주소를 url 변수에 저장 
url = '/content/drive/My Drive/Colab_Data/pandasdatazip/part2/sample.html'

# HTML 웹페이지의 표(table)를 가져와서 데이터프레임으로 변환 
tables = pd.read_html(url)

# 표 개수 확인
print(len(tables))
print('\n')

# tables 리스트의 원소를 iteration하면서 각각 화면 출력 
for i in range(len(tables)):
  print("tables[%s]" % i)
  print(tables[i])
  print('\n')

# 파이썬 패키지 정보가 들어 있는 두 번째 데이터프레임을 선택하여 df 변수에 저장
df = tables[1]

# 'name' 열을 인덱스로 지정
df.set_index(['name'], inplace=True)
print(df)

2


tables[0]
   Unnamed: 0  c0  c1  c2  c3
0           0   0   1   4   7
1           1   1   2   5   8
2           2   2   3   6   9


tables[1]
         name  year        developer  opensource
0       NumPy  2006  Travis Oliphant        True
1  matplotlib  2003   John D. Hunter        True
2      pandas  2008    Wes Mckinneye        True


            year        developer  opensource
name
NumPy       2006  Travis Oliphant        True
matplotlib  2003   John D. Hunter        True
pandas      2008    Wes Mckinneye        True

웹 스크래핑

-> BeautifulSoup 등 웹 스크래핑 도구로 수집한 데이터를 판다스 데이터프레임으로 정리
 
먼저 스크래핑한 내용을 파이썬 리스트, 딕셔너리 등으로 정리한 뒤 DataFrame () 함수에 전달해 데이터 프레임으로 !!

In [ ]:
# 미국 ETF 리스트 가져오기 

# 라이브러리 불러오기 
from bs4 import BeautifulSoup
import requests
import re 
import pandas as pd

# 위키피디아 미국 ETF 웹 페이지에서 필요한 정보를 스크래핑하여 딕셔너리 형태로 변수 etfs에 저장
url = 'https://ko.wikipedia.org/wiki/List_of_American_exchange-traded_funds'
resp = requests.get(url)
soup = BeautifulSoup(resp.text, 'lxml')
rows = soup.select('div > ul > li')

etfs = {}
for row in rows :
  print(row)

  try : 
      etf_name = re.findall('^(.*) \(NYSE', row.text)
      etf_market = re.findall('\((.*)\|', row.text)
      etf_ticker = re.findall('NYSE Arca\|(.*)\)', row.text)

      if (len(etf_ticker) > 0 ) & (len(etf_market) > 0) & (len(etf_name) > 0) :
        etfs[etf_ticker[0]] = [etf_market[0], etf_name[0]]
  except AttributeError as err :
    pass



# etfs 딕셔너리 출력
print(etfs)
print('\n')

# etfs 딕셔너리를 df로 변환
df = pd.DataFrame(etfs)
print(df)

SyntaxError: ignored

## API 활용하여 데이터 수집하기

In [3]:
pip install googlemaps

Collecting googlemaps
  Downloading https://files.pythonhosted.org/packages/32/d0/3e02a031197a6e9499833dd15edd92675097438569b24a1ca8f9904a1c69/googlemaps-4.4.5.tar.gz
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.7/dist-packages (from googlemaps) (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.5.30)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.4.5-cp37-none-any.whl size=37995 sha256=eedd956a991b3b8863bc97f289b67e6b132cd77a7842b07a286b941241857798
  Stored in directory: /root/.cache/pip/wheels/fb/24/33/51b0faba1170f6519eae3c51b6adbd9939296c73f54230b069
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.4.5

In [7]:
# 구글 지오코딩 위치 정보 


# google 지오코딩 API 를 통해 위도, 경도 데이터 가져오기

# 라이브러리 가져오기
import googlemaps
import pandas as pd

# 구글맵스 객체 생성하기
maps = googlemaps.Client(key='AIzaSyD2_-cIwYETZGMceRpK_LvYFpma2PuriyI')

lat = [] # 위도
lng = [] # 경도

# 장소 (또는 주소) 리스트
places = ["서울시청","국립국악원","해운대해수욕장"]

i = 0 
for place in places :
  i = i + 1 
  try:
      print(i,place)
      # 지오코딩 API 결과값 호출하여 geo_location 변수에 저장 
      geo_location = maps.geocode(place)[0].get('geometry')
      lat.append(geo_location['location']['lat'])
      lng.append(geo_location['location']['lng'])
  
  except:
      lat.append('')
      lng.append('')
      print(i)



# 데이터프레임으로 변환하기
df = pd.DataFrame({'위도':lat, '경도':lng}, index=places)
print('\n')
print(df)

1 서울시청
2 국립국악원
3 해운대해수욕장


                위도          경도
서울시청     37.566295  126.977945
국립국악원    37.477759  127.008304
해운대해수욕장  35.158698  129.160384

## 데이터 저장하기

CSV/JSON/Excel 파일로 저장

In [11]:
import pandas as pd

# 판다스 DataFrame() 함수로 데이터프레임 변환, 변수 df에 저장
data = {'name': ['Jerry','Riah','Paul'],
        'algol': ['A','A+','B'],
        'basic': ['C','B','B+'],
        'c++': ['B+','C','C+'],
        }

df = pd.DataFrame(data)
df.set_index('name',inplace=True) #name 열을 인덱스로 지정
print(df)

# to_csv() 메소드를 사용하여 CSV 파일로 내보내기, 파일명은 df_sample.csv로 저장
df.to_csv("./df_sample.csv")
df.to_json("./df_sample.json")
df.to_excel("./df_sample.xlsx")

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

여러 개의 데이터프레임 하나의 Excel 파일로 저장

In [15]:
import pandas as pd 

# 판다스 DataFrame() 함수로 데이터프레임 변환, 변수 df1,df2에 저장
data1 = {'name': ['Jerry','Riah','Paul'],
        'algol': ['A','A+','B'],
        'basic': ['C','B','B+'],
        'c++': ['B+','C','C+'],
        }
data2 = {'c0': [1,2,3],
         'c1': [4,5,6],
         'c2': [7,8,9],
         'c3': [10,11,12],
         'c4': [13,14,15]
         }

df1 = pd.DataFrame(data1)
df1.set_index('name', inplace=True) #name 열을 인덱스로 지정
print(df1)
print('\n')

df2 = pd.DataFrame(data2)
df2.set_index('c1', inplace=True)
print(df2)

# df1을 'sheet1'으로, df2를 'sheet2'로 저장
writer = pd.ExcelWriter("./df_excelwriter.xlsx")
df1.to_excel(writer, sheet_name="sheet1")
df2.to_excel(writer,sheet_name="sheet2")
writer.save()

      algol basic c++
name
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+


    c0  c2  c3  c4
c1
4    1   7  10  13
5    2   8  11  14
6    3   9  12  15